:root {

    --primary-color: #{$primary-color};
    --secondary-color: #{$secondary-color};
    --screen-sm: #{$screen-sm};
    --screen-md: #{$screen-md};
    --screen-lg: #{$screen-lg};
    --screen-xl: #{$screen-xl};
    --screen-2xl: #{$screen-2xl};
    --screen-3xl: #{$screen-3xl};
    --screen-4xl: #{$screen-4xl};


}